<{{ tag }} class="project-card">
  <picture class="project-picture">
    <img class="project-picture__img" src="{{ project.thumb }}" width="150" height="100" alt="">
  </picture>
  <h3 class="label label--project">{{ project.title }}</h3>
  <em class="project-type">[{{ project.type }}]</em>
  <p class="paragraph paragraph--project-card">{{ project.description }}</p>
  <ul class="project-card__note">
    {% for note in project.notes %}
      <li class="project-card__note-item">
        <b>{{ note.keyword }}: </b>{{ note.description }}
      </li>
    {% endfor %}
  </ul>
  <a class="overlay-link" href="{{ project.link }}" target="_blank">
    <span class="sr-only sr-only--unset-margin">{{ project.title }}</span>
  </a>
  <span class="icon-external-link">{% render 'snippets/icon-external-link' %}</span>
</{{ tag }}>