<!DOCTYPE html>
<html lang="{{ data.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ data.page_title }}</title>
  <link rel="stylesheet" href="/assets//css/main.css">
</head>
<body>
  <header class="header" id="header">
    <div class="container">
      <h1 class="header__heading">{% render 'snippets/avatar', data: data %}</h1>
      {% render 'snippets/lang-options', data: data %}
    </div>
  </header>

  <main class="main" id="main">
    <div class="container">
      {{ page_content }}
    </div>
  </main>

  <footer class="footer" id="footer">
    <div class="footnote">
      {{ data.sections.footer.copyright }}
      <a class="social" href="https://linkedin.com/in/trinhcao96/">
        <img class="social__img" src="/assets/img/ico-linkedin.png" alt="Linkedin">
      </a>
    </div>
    <span class="update-note">{{ data.sections.footer['update-note'] }}</span>
  </footer>
</body>
</html>