<!DOCTYPE html>
<html lang="{{ data.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#963de8">
  <title>{{ data.page_title }}</title>
  <link rel="stylesheet" href="/assets//css/main.css">
</head>
<body>
  <header class="header" id="header">
    <div class="container">
      <h1 class="header__heading">{% render 'modules/avatar', data: data %}</h1>
      {% render 'modules/lang-options', data: data %}
    </div>
  </header>

  <main class="main" id="main">
    {{ page_content }}
  </main>

  <footer class="footer" id="footer">
    <div class="container">
      <div class="footer__content">
        <div class="footnote">
          {{ data.sections.footer.copyright }}
          <a class="social" href="https://linkedin.com/in/trinhcao96/">
            <img class="social__img" src="/assets/img/ico-linkedin.png" width="20" height="20" alt="Linkedin">
          </a>
        </div>
        <span class="update-note">{{ data.sections.footer['update-note'] }}</span>
      </div>
    </div>
  </footer>
</body>
</html>